# Dependency directories
node_modules/

# compiled js files
js/*

# sample files
samples/upjf/js/
samples/upjf/node_modules/
samples/upjf/private/ip.key
samples/upjf/public/.well-known/jwks.json

# .vscode
.vscode

# npm install artifacts
browser
types
