# dependency directories
node_modules

# workspace settings (user preferences)
.vscode/*.code-workspace

# transpiled js files
js

# sample files
samples/upjf/js/
samples/upjf/node_modules/
samples/upjf/private/ip.key
samples/upjf/public/.well-known/jwks.json

# npm install directories
browser
types
